---
layout: default
---
<main class="container">
  {% include header.html %}

  {% if site.github.public_repositories %}
  
  <div class="section">
    <h2>
      <a class="link link--circle  link--site" href="">
	<svg class="icon  icon--site" role="img" aria-label="analysis icon">
	  <title>Data analysis</title>
	  <use xlink:href="#analysis" fill="#1f1f1f"></use>
	</svg>
      </a>
      Data Analysis Projects</h2>   
  </div>
  
  <ul class="list  list--sites" id="sites">
    {% for repo in site.github.public_repositories %}
    {% if repo.description contains "data analysis" %}
    
    {% if repo.name contains "nf-core" %}
    {% assign icon = "nfcore" %}
    {% assign colour = "#00cc44" %}
    {% else %}
    {% assign icon = "link" %}
    {% assign colour = "#ff6600" %}  
    {% endif %}
    {% assign name = repo.name %}
    
    <li class="repo repo--site">
      <article class="content  content--site  content--{{ name | slugify }}">
	<style>.content--{{ name | slugify }} a { color: {{ colour }}; }</style>
	<h3>
	  <a class="link link--circle  link--site" href="{{ repo.html_url }}" title="{{ name }}" target="_blank">
            <svg class="icon  icon--site" role="img" aria-label="{{ repo.title }} icon">
              <title>{{ icon }}</title>
              <use xlink:href="#{{ icon }}" fill="{{ colour }}"></use>
            </svg>
          </a>
          <b>{{ name }}</b>
	  <!--<span> {{ repo.stargazers_count }}</span>-->
	</h3>
	<p>{{ repo.description }}</p>
	<a href="{{ repo.html_url }}/archive/{{ repo.default_branch }}.zip" target="_blank">[Download]</a>
	<a href="{{ repo.html_url }}" target="_blank">[Fork]</a>
	<svg class="icon icon--small" role="img" aria-label="star icon">
	  <title>star</title>
          <use xlink:href="#star" fill="#1f1f1f"></use>
	</svg>{{ repo.stargazers_count }}
	<a class="link" href="{{ repo.html_url }}/issues" target="_blank">
	  <svg class="icon icon--small" role="img" aria-label="issue icon">
            <title>issue</title>
            <use xlink:href="#issue" fill="#1f1f1f"></use>
	  </svg>
      </a>
      </article>
      
      <!-- 
	   CONTRIBUTORS:
	   {{ site.github.contributors }}
	   {% for member in repo.contributors_url %}
	   {{ member }}
	   <p><strong>login:</strong> {{ member.login }}</p>
      <p><strong>avatar_url:</strong> {{ member.avatar_url }}</p>
      <img src="{{ member.avatar_url }}" width="200">
      {% endfor %}
      --> 
      
    </li>
    
    {% endif %}
    {% endfor %}
  </ul>
  
  
  {% endif %}
  
  {% include footer.html %}

</main>
